schema/xsd/consignment-identifier.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:efti="http://efti.eu/v1/consignment/identifier" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:types="http://efti.eu/v1/types" targetNamespace="http://efti.eu/v1/consignment/identifier"
            elementFormDefault="qualified">
  <xsd:import namespace="http://efti.eu/v1/types" schemaLocation="types/main.xsd"/>
  <xsd:element name="consignment" type="efti:SupplyChainConsignment"/>
  <xsd:complexType name="AssociatedTransportEquipment">
    <xsd:sequence>
      <xsd:element name="id" type="types:Identifier17" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:appinfo>
            <unCefact unId="UN01004884" id="Associated_ Transport Equipment. Identification. Identifier"/>
            <efti id="eFTI448" format="an..17" definition="The identifier of the carried transport equipment."
                  subsets="fr, el, hr, es, pt, cz, lu, fi, be, dk, ro, hu, pl, it, nl, sk, ie, de, cy, at, identifier, eu5a, se, eu5b, eu2, ee, bg, eu5c, lv, mt, si"
                  parentId="ASBIE1092"/>
          </xsd:appinfo>
          <xsd:documentation>A unique number, mark or name which identifies this associated piece of transport
            equipment.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sequenceNumber" type="types:Integer16" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:appinfo>
            <unCefact unId="UN01015562" id="Associated_ Transport Equipment. Sequence. Numeric"/>
            <efti id="eFTI1000" format="n..16"
                  definition="The sequence number differentiating this piece of logistics transport equipment from others in a set of carried transport equipment."
                  subsets="el, hu, identifier" parentId="ASBIE1092"/>
          </xsd:appinfo>
          <xsd:documentation>The sequence number differentiating this piece of transport equipment from others in a set
            of associated transport equipment.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LogisticsTransportEquipment">
    <xsd:sequence>
      <xsd:element name="carriedTransportEquipment" type="efti:AssociatedTransportEquipment" minOccurs="0"
                   maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:appinfo>
            <unCefact unId="UN01003798" id="Logistics_ Transport Equipment. Carried. Associated_ Transport Equipment"/>
            <efti id="ASBIE1092" format=""
                  definition="Transport equipment that is carried on other transport equipment, such as a container placed on a rail wagon or on a trailer."
                  subsets="fr, el, hr, es, pt, cz, lu, fi, be, dk, ro, hu, pl, it, nl, sk, ie, de, cy, at, identifier, eu5a, se, eu5b, eu2, ee, bg, lt, eu5c, lv, mt, si"
                  parentId="ASBIE1086"/>
          </xsd:appinfo>
          <xsd:documentation>A piece of transport equipment carried on this piece of logistics transport equipment, such
            as a container placed on a rail wagon.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="categoryCode" type="xsd:string" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:appinfo>
            <unCefact unId="UN01003767" id="Logistics_ Transport Equipment. Category. Code"/>
            <efti id="eFTI378" format="an..3"
                  definition="The code specifying the category for the used transport equipment, such as container or trailer."
                  subsets="fr, el, hr, es, eu1, pt, cz, lu, fi, be, dk, ro, hu, pl, it, nl, sk, ie, de, cy, at, identifier, eu5a, se, eu5b, eu2, ee, bg, lt, eu5c, lv, mt, eu3, si"
                  parentId="ASBIE1086"/>
          </xsd:appinfo>
          <xsd:documentation>The code specifying the category for this piece of logistics transport equipment, such as
            container or trailer.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="id" type="types:Identifier17" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:appinfo>
            <unCefact unId="UN01003758" id="Logistics_ Transport Equipment. Identification. Identifier"/>
            <efti id="eFTI374" format="an..17"
                  definition="The identifier of the transport equipment used for transporting this consignment."
                  subsets="fr, el, hr, es, eu1, pt, cz, lu, fi, be, dk, ro, hu, pl, it, nl, sk, ie, de, cy, at, identifier, eu5a, se, eu5b, eu2, ee, bg, lt, eu5c, lv, mt, eu3, si"
                  parentId="ASBIE1086"/>
          </xsd:appinfo>
          <xsd:documentation>The unique identifier of this piece of logistics transport equipment.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="registrationCountry" type="efti:TradeCountry" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:appinfo>
            <unCefact unId="UN01015630" id="Logistics_ Transport Equipment. Registration. Trade_ Country"/>
            <efti id="ASBIE1097" format="" definition="The country of registration of the used transport equipment."
                  subsets="fr, el, hr, es, eu1, pt, cz, lu, fi, be, dk, ro, hu, pl, it, nl, ie, de, cy, at, identifier, se, eu2, ee, bg, lt, lv, mt, eu3, si"
                  parentId="ASBIE1086"/>
          </xsd:appinfo>
          <xsd:documentation>The registration country for this logistics transport equipment.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sequenceNumber" type="types:Integer16" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:appinfo>
            <unCefact unId="UN01003779" id="Logistics_ Transport Equipment. Sequence. Numeric"/>
            <efti id="eFTI987" format="n..16"
                  definition="The sequence number differentiating this piece of logistics transport equipment from others in a set of used transport equipment."
                  subsets="hr, es, pt, cz, lu, fi, be, dk, ro, hu, pl, it, nl, sk, ie, de, cy, at, identifier, eu5a, se, eu5b, ee, bg, eu5c, lv, mt, si"
                  parentId="ASBIE1086"/>
          </xsd:appinfo>
          <xsd:documentation>The sequence number differentiating this piece of logistics transport equipment from others
            in a set of transport equipment.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LogisticsTransportMeans">
    <xsd:sequence>
      <xsd:element name="id" type="types:Identifier17" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:appinfo>
            <unCefact unId="UN01003822" id="Logistics_ Transport Means. Identification. Identifier"/>
            <efti id="eFTI618" format="an..17"
                  definition="The identifier of the means of transport used in the main leg of transportation of the consignment of goods from one place to another."
                  subsets="fr, el, hr, es, eu1, pt, cz, lu, fi, be, dk, ro, hu, pl, it, nl, sk, ie, de, cy, at, identifier, eu5a, se, eu5b, eu2, ee, bg, lt, eu5c, lv, mt, eu3, si"
                  parentId="ASBIE1107"/>
          </xsd:appinfo>
          <xsd:documentation>An identifier of this logistics means of transport, such as the International Maritime
            Organization number of a vessel.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="registrationCountry" type="efti:TradeCountry" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:appinfo>
            <unCefact unId="UN01003834" id="Logistics_ Transport Means. Registration. Trade_ Country"/>
            <efti id="ASBIE1108" format=""
                  definition="The country of registration of the means of transport used in the main leg of transportation of the consignment of goods from one place to another."
                  subsets="fr, el, hr, es, eu1, pt, cz, lu, fi, be, dk, ro, hu, pl, it, nl, sk, ie, de, cy, at, identifier, eu5a, se, eu2, ee, bg, lt, lv, mt, eu3, si"
                  parentId="ASBIE1107"/>
          </xsd:appinfo>
          <xsd:documentation>The country of registration of this logistics means of transport.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LogisticsTransportMovement">
    <xsd:sequence>
      <xsd:element name="dangerousGoodsIndicator" type="xsd:boolean" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:appinfo>
            <unCefact unId="UN01010121" id="Logistics_ Transport Movement. Dangerous Goods. Indicator"/>
            <efti id="eFTI1451" format="" definition="" subsets="identifier" parentId="ASBIE1098"/>
          </xsd:appinfo>
          <xsd:documentation>The indication of whether or not dangerous goods are carried for this logistics transport
            movement.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modeCode" type="xsd:string" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:appinfo>
            <unCefact unId="UN01003839" id="Logistics_ Transport Movement. Mode. Code"/>
            <efti id="eFTI581" format="n1"
                  definition="The code specifying the mode of transport, such as by air, sea, rail, road or inland waterway, for the main leg of transport of the movement of a consignment of goods."
                  subsets="fr, el, hr, es, pt, cz, lu, fi, be, dk, ro, hu, pl, it, nl, sk, ie, de, cy, at, identifier, eu5a, se, eu2, ee, bg, eu5c, mt, si"
                  parentId="ASBIE1098"/>
            <efti id="eFTI631" format="n1"
                  definition="The code specifying the mode, such as by air, sea, rail, road or inland waterway, for this pre-carriage transport movement."
                  subsets="hu, bg" parentId="ASBIE1114"/>
            <efti id="eFTI658" format="n1"
                  definition="The code specifying the mode, such as by air, sea, rail, road or inland waterway, for this on-carriage transport movement."
                  subsets="bg" parentId="ASBIE1117"/>
          </xsd:appinfo>
          <xsd:documentation>The code specifying the mode, such as by air, sea, rail, road or inland waterway, for this
            logistics transport movement.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="usedTransportMeans" type="efti:LogisticsTransportMeans" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:appinfo>
            <unCefact unId="UN01003861" id="Logistics_ Transport Movement. Used. Logistics_ Transport Means"/>
            <efti id="ASBIE1107" format=""
                  definition="The means of transport used in this main leg of transportation of the consignment of goods from one place to another."
                  subsets="fr, el, hr, es, eu1, pt, cz, lu, fi, be, dk, ro, hu, pl, it, nl, sk, ie, de, cy, at, identifier, eu5a, se, eu5b, eu2, ee, bg, lt, eu5c, lv, mt, eu3, si"
                  parentId="ASBIE1098"/>
          </xsd:appinfo>
          <xsd:documentation>The means of transport used for this logistics transport movement.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SupplyChainConsignment">
    <xsd:sequence>
      <xsd:element name="carrierAcceptanceDateTime" type="types:DateTime" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:appinfo>
            <unCefact unId="UN01004170" id="Supply Chain_ Consignment. Carrier Acceptance. Date Time"/>
            <efti id="eFTI39" format="an..20" definition="The consignment carrier acceptance date"
                  subsets="fr, el, hr, es, eu1, pt, lu, fi, be, dk, ro, hu, pl, it, nl, ie, de, at, identifier, se, eu2, ee, bg, lt, lv, mt, eu3, si"
                  parentId="ASBIE1027"/>
          </xsd:appinfo>
          <xsd:documentation>The date, time, date time or other date time value when this supply chain consignment will
            be, or has been, accepted by the carrier.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="deliveryEvent" type="efti:TransportEvent" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:appinfo>
            <unCefact unId="UN01004251" id="Supply Chain_ Consignment. Delivery. Transport_ Event"/>
            <efti id="ASBIE1058" format="" definition="The delivery event for this consignment."
                  subsets="fr, el, hr, es, pt, cz, lu, fi, be, dk, ro, hu, pl, it, nl, ie, de, at, identifier, se, bg, lt, lv, mt, eu3, si"
                  parentId="ASBIE1027"/>
          </xsd:appinfo>
          <xsd:documentation>The delivery event for this supply chain consignment.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="mainCarriageTransportMovement" type="efti:LogisticsTransportMovement" minOccurs="0"
                   maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:appinfo>
            <unCefact unId="UN01004261" id="Supply Chain_ Consignment. Main Carriage. Logistics_ Transport Movement"/>
            <efti id="ASBIE1098" format=""
                  definition="The main carriage is the primary (main) leg of transportation used for the carriage of the consignment of goods from one place to another."
                  subsets="fr, el, hr, es, eu1, pt, cz, lu, fi, be, dk, ro, hu, pl, it, nl, sk, ie, de, cy, at, identifier, eu5a, se, eu5b, eu2, ee, bg, lt, eu5c, lv, mt, eu3, si, eu6"
                  parentId="ASBIE1027"/>
          </xsd:appinfo>
          <xsd:documentation>A main carriage logistics transport movement for this supply chain consignment.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="usedTransportEquipment" type="efti:LogisticsTransportEquipment" minOccurs="0"
                   maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:appinfo>
            <unCefact unId="UN01004260" id="Supply Chain_ Consignment. Utilized. Logistics_ Transport Equipment"/>
            <efti id="ASBIE1086" format="" definition="The transport equipment used for transporting this consignment."
                  subsets="fr, el, hr, es, eu1, pt, cz, lu, fi, be, dk, ro, hu, pl, it, nl, sk, ie, de, cy, at, identifier, eu5a, se, eu5b, eu2, ee, bg, lt, eu5c, lv, mt, eu3, si"
                  parentId="ASBIE1027"/>
          </xsd:appinfo>
          <xsd:documentation>Logistics transport equipment utilized for this supply chain consignment.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TradeCountry">
    <xsd:sequence>
      <xsd:element name="code" type="xsd:string" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:appinfo>
            <unCefact unId="UN01002553" id="Trade_ Country. Identification. Identifier"/>
            <efti id="eFTI578" format="a2"
                  definition="The code for the registration country of the used transport equipment."
                  subsets="fr, el, hr, es, eu1, pt, cz, lu, fi, be, dk, ro, hu, pl, it, nl, ie, de, cy, at, identifier, se, eu2, ee, bg, lt, lv, mt, eu3, si"
                  parentId="ASBIE1097"/>
            <efti id="eFTI620" format="a2"
                  definition="The country code of the registration country of the transport means used in the main leg of transportation of the consignment of goods from one place to another."
                  subsets="fr, el, hr, es, eu1, pt, cz, lu, fi, be, dk, ro, hu, pl, it, nl, sk, ie, de, cy, at, identifier, eu5a, se, eu2, ee, bg, lt, lv, mt, eu3, si"
                  parentId="ASBIE1108"/>
          </xsd:appinfo>
          <xsd:documentation>A unique identifier for this trade country.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TransportEvent">
    <xsd:sequence>
      <xsd:element name="actualOccurrenceDateTime" type="types:DateTime" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:appinfo>
            <unCefact unId="UN01004796" id="Transport_ Event. Actual_ Occurrence. Date Time"/>
            <efti id="eFTI188" format="an..20" definition="The actual delivery date for this consignment."
                  subsets="fr, el, hr, es, pt, cz, lu, fi, be, dk, ro, hu, pl, it, nl, ie, de, at, identifier, se, bg, lt, lv, mt, eu3, si"
                  parentId="ASBIE1058"/>
            <efti id="eFTI583" format="an..20"
                  definition="The actual date of the loading of the consignment of goods for the main leg of transport event."
                  subsets="fr, hr, pt, cz, lu, be, hu, cy, at, eu2, ee, bg, lt, lv, mt, si" parentId="ASBIE1099"/>
            <efti id="eFTI596" format="an..20"
                  definition="The actual date of the unloading of the consignment of goods for the main leg of transport event."
                  subsets="pt, cz, lu, be, hu, at, eu2, bg, lt, lv, mt" parentId="ASBIE1103"/>
            <efti id="eFTI1268" format="an..20" definition="The actual date of the border crossing transport event."
                  subsets="fr" parentId="ASBIE1301"/>
          </xsd:appinfo>
          <xsd:documentation>The actual date, time, date time, or other date time value of the occurrence of this
            transport event.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>